.selected-image-container{
    width: 1000px;
    height: 500px;
    border: 1px solid black;
}

.images-slide-container{
    height: 500px;
    border: 1px solid black;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
}
.single-image{
    width: 300px;
    height: 100px;
    /* border: 1px solid black; */
}

.img-size {
    object-fit: cover;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.arrow-container{
    width: 30px;
    height: 30px;
    background-color: white;
}

.active{
    opacity: .5;
}
